<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Users</title>
</head>
<body>
<h2>All Users</h2>
<table border="1">
    <tr><th>ID</th><th>Name</th><th>Email</th><th>Actions</th></tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.email}"></td>
        <td>
            <form th:action="@{/deleteUser}" method="post">
                <input type="hidden" name="id" th:value="${user.id}"/>
                <input type="submit" value="Delete"/>
            </form>
            <form th:action="@{/updateUser}" method="post">
                <input type="hidden" name="id" th:value="${user.id}"/>
                <input type="text" name="name" th:value="${user.name}"/>
                <input type="text" name="email" th:value="${user.email}"/>
                <input type="submit" value="Update"/>
            </form>
        </td>
    </tr>
</table>

<h2>Add User</h2>
<form th:action="@{/addUser}" method="post">
    Name: <input type="text" name="name"/>
    Email: <input type="text" name="email"/>
    <input type="submit" value="Add"/>
</form>
</body>
</html>
